#container {

    display: none;
}

#grid {

    height: 70vh;
    width: 70vh;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#grid > div.cell {

    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}